<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body class = "BildHemsidorsUtveckling">
  <body>
    <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/ViktigaHändelser.html">Viktiga händelser</a>
        </li>
        <li>
          <a href="/view/HemsidorsUtveckling.html">Hur hemsidor har utvecklats</a>
        </li>
        <li>
          <a href="/view/GrundläggandePrinciper.html">Internets grundläggande principer</a>
        </li>
        <li>
          <a href="/view/WebbPublicering.html">Webbpubliceringssystem</a>
        </li>
      </ul> 

      
          <img class="storlekutveckling"src="/7c3ca1df48a6a1fec79a9301efcd2cf6.png" alt="">
        <h3>
          Så här såg youtube's startsida ut 2 februari 2010
        </h3>
        
       <img class="storlekutveckling" src="/f6d03f3364f01458f553196dc10e3c8b.jpg">
       <h3>
         Så här ser youtube's startsida ut idag 20 januari 2020<br>
       </h3>
       <h2>
         Orsaker av sidans utveckling
       </h2>
       <p>
        Sidan har utvecklats för att det ska vara enklare för användaren att hitta det den söker. Sidan har uppdaterats så att den 
        rekommenderar videor dem tror att man är intresserad av.<br> Dem rekommenderar nu videor efter vad man själv har kollat inklusive vad andra 
        kollar på. Dem har också lagt till kategorier för olika videor.       
       </p>
       <h2>
         Hur kunde sidan utvecklats annorlunda
       </h2>
       <p>
         Dem skulle kunna gjort youtube mer som en social media där man kan kommunicera med varandra på ett annat sätt. <br>
         Dem kunde gjort så att man kunde skapa grupp chatter eller privata chatter med andra som kollar på liknande youtube videor eller
         större youtubers. 
       </p>
       <h2>
         Hur kan youtube utvecklas i framtiden
       </h2>
       <p>
         I framtiden kan dem uppdatera youtube så att det blir mer likt streaming hemsidor som netflix eller hbo. Dem kan t.ex lägga till
         en kategori som heter serier och filmer<br>där man kan prenumerera med månadskostnad för att kolla filmer och serier. 
       </p>
       
      
  </body>
  <script src="js/script.js"></script>
</html>