<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body class = "BildViktigaHändelser">
<div class="sidenav">
    <a href="#">1960</a>
    <a href="#70talet">1970</a>
    <a href="#80talet">1980</a>
    <a href="#90talet">1990</a>
    <a href="#20talet">2000</a>
    <a href="#10talet">2010</a>
  </div>
  <div class="main">
    ...
  </div>
    <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/ViktigaHändelser.html">Viktiga händelser</a>
        </li>
        <li>
          <a href="/view/HemsidorsUtveckling.html">Hur hemsidor har utvecklats</a>
        </li>
        <li>
          <a href="/view/GrundläggandePrinciper.html">Internets grundläggande principer</a>
        </li>
        <li>
          <a href="/view/WebbPublicering.html">Webbpubliceringssystem</a>
        </li>
      </ul> 
      <img src="/arpanet2.png"/>
      <p>
        Här börjar allt. Leonard Kleinrock, till höger, är en av Arpanets viktigaste personer. <br/> <br/>
        <h2 id="60talet">
          1969 Starten på internet heter Arpanet <br/> <br/> 
        </h2>
        <h3>
          29 oktober 1969 skickas det första meddelandet på det som i dag är internet.<br/>
        </h3>
        Vid den tiden heter nätverket Arpanet, och drivs av det amerikanska försvaret. I september 1969 länkas Arpanets första dator med en sprillans ny, specialbyggd maskin, en <br>IMP – Interface Message Processor (som ni ser på bilden här ovanför). Och några veckor senare, 29 oktober klockan halv elva på kvällen skickar forskargruppen på UCLA,<br> ledd av professor Leonard Kleinrock, iväg ett meddelande till en dator på Stanford drygt 50 mil därifrån. Det innehåller endast bokstäverna L och O <br>(forskarna hade tänkt skriva LOGIN men servern kraschade). <br/> <br/>
        Arpanet är ett av många nätverk som utvecklas under 60-talet i både USA, England och Frankrike.<br/> <img src="/Arpanet3.png"/> <br/>
        Illustration av Jesper Wallerborg.<br/><br/>
        <h3>
          Paketutbyte, TCP/IP och tidsdelning <br/>
        </h3>
        På den amerikanska forskningsmyndigheten ARPA (Advanced Research Projects Agency) jobbar datorforskaren Joseph Licklider. Han är den som kläcker idén till det som blir internet,<br> men det finns många andra på myndigheten som gör betydande insatser för att förverkliga planerna. Leonard Kleinrock uppfinner kommunikationstekniken ”paketutbyte” (packet switching),<br> Vinton Cerf and Robert Kahn kommer på TCP/IP-protokollet (som fortfarande utgör grunden för det internet vi har i dag)<br/> <br/> 
        En annan viktig upptäckt är tidsdelningssystemen (time-sharing), som innebär att flera personer kan använda samma dator. Det är ju egentligen det man gör på internet, delar datorer med varandra.<br/> <br/>
        <h2>
          E-posten skapas <br/>
        </h2>
        1971 skickas det första e-postmeddelandet på Arpanet – från en dator till en annan som står precis bredvid. Fler och fler datorer på amerikanska forskningsanstalter och laboratorium kopplas sedan upp,<br> nätet växer och 1973 är det hela fyrtio datorer uppkopplade. <br/> <br/>
        <h2>
          Nätverket blir internationellt<br/>
        </h2>
        Samma år kopplas den första utländska datorn upp mot Arpanet utanför USA. Den är norsk och kopplas upp via satellit. Men om vi ska vara lite petiga går faktiskt den första internetkontakten via <br>markstationen i Tanum i Bohuslän, som tar emot signalerna och skickar dem vidare till Norge. Först då blir internet internationellt.
        <br> <br> <br><br><br><br>
      </p> 
      
      <iframe width="717" height="538" src="https://www.youtube.com/embed/aVAbkrwU7wQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="70talet"></iframe>
      <p>
        <h2>
          1978 Filmklipp: Elever får testa datorer – men det är inte utan oro <br> <br>
        </h2>
       <h3>
         SVT:s program Lördags hänger med elever på en gymnasieskola som får testa dataterminaler.<br>
       </h3>

Man kan till exempel använda dem för att snabbt räkna ut saker som annars skulle ha tagit flera månader, visar det sig.
Vad händer med en fisk i en älv om man häller ut smuts i vattnet?<br> är uppgiften och datorn räknar ut svaret på några sekunder.
”Det är inte ett dugg svårare än att använda en skrivmaskin”, försäkrar berättaren i klippet. <br><br>

Därefter väntar studiebesök på banken, vid biljettkontoret och på en fabrik, där arbetet blivit effektiviserat. 
Och så beskrivs i detalj hur en datamaskin är uppbygd och hur den fungerar.<br><br>

”Utvecklingen får dock inte rusa iväg hur som helst. 
Tänk om vi snart har en datamaskin i varje hem”, befarar skolungdomarna i klippets slutskede.
 ”Man känner sig inte säker på något vis.”
  <br><br><br><br>  
      </p>
      <img src="/mud1.jpg"  id="80talet"/>
      <P>
          <h2>
            1980 Plötsligt kan du spela mot främlingar – när rollspelet MUD gör succé
          </h2>
          
          <h3>
            1980 blir internet en arena för spelare. Rollspelet MUD (också kallat Essex MUD eller MUD1) når ut globalt i samband med att Essex 
            Universitet <br>kopplar ihop sitt nätverk med Arpanet. 
          </h3>
          Från och med nu drar en MUD-våg över internet, och allt fler spel lanseras. Multi-User Dungeon är textbaserade och ofta äventyrsspel
          som utspelar sig i fantasivärldar med påhittade<br> djur och monster. Uppgiften är att ha ihjäl fantasidjuren, utforska och lösa uppgifter.
          Allt utan bild och ljud. <br> <br>
          
          Upplägget i berättelserna påminner inte sällan om det populära bordsrollspelet Dungeons & Dragons, och att delta är för det mesta gratis.
          Under senare delen av 80-talet utvecklas spelen<br> och många får grafik. MUD-spelen är på så vis en föregångare till populära 
          multiplayerspel som World of Warcraft, EverQuest och Ultima Online, liksom virtual reality-baserade Second Life. <br><br>
          
          Ett svenskt MUD-spel, SvenskMUD, lanseras 1991 genom datorföreningen Lysator vid Linköpings universitet. Spela MUD här! <br><br><br><br>
      </P>
      <img src="/mos-10-e1504100510732.jpg" id="90talet"/>
      <p>
        <h2>
          1993 Webbläsaren Mosaic blir en dundersuccé – nu blir surfandet njutbart
        </h2>
        
        <h3>
          NCSA Mosaic, eller kort och gott Mosaic, räknas ofta som den första grafiska webbläsaren. Det är inte riktigt sant. <br>
        </h3>

        Mosaic föregås av flera tidigare webbläsare som WorldWideWeb, Erwise och ViolaWWW. Däremot är det den första webbläsaren som får ett 
        brett genomslag, särskilt när Windows-versionen<br> kommer i november 1993. 1995 har Mosaic en marknadsandel på hela 53 procent.<br><br>

        Det som gör att Mosaic blir så populär är att den gör webbsurfandet njutbart. Från att ha varit en textbaserad och relativt torr 
        aktivitet blir surfandet lättare och roligare när grafik, bilder,<br> ljud och video visas tillsammans med texten, istället för i egna 
        fönster som är vanligt tidigare.<br><br>

        Hur pratade vi då om internet, www och de nya möjligheterna när det kom? Kolla in den här filmen där en tidig nätsurfare visar några 
        nyfikna lokal-tv reportrar i Trollhättan vad man<br>kan göra på nätet (”du kan hitta allt från knyppling till teknisk fysik”):<br><br>
      </p>
      <iframe width="717" height="538" src="https://www.youtube.com/embed/KmMdtcQ9CyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
          Bland annat surfar de in på Rolling Stones hemsida där de läser att bandet ska hålla en konsert över nätet, 20 minuter med både ljud 
          och bild <br>(konserten i fråga är för övrigt en av de allra första som sänds över nätet)!
          <h3>
            Netscape tar över efter Mosaic
          </h3>

          Mosaic utvecklas av National Center for Supercomputing Applications (NCSA) på University of Illinois. Mosaic hinner komma upp i 
          version 3.0 innan utvecklingen läggs ner i januari 1997. <br>Då har den konkurrerande webbläsaren Netscape Navigator gått om Mosaic i 
          popularitet, men Mosaic lever vidare i och med att Microsoft 1995 licensierar tekniken bakom Mosaic för att <br>skapa Internet Explorer.<br><br><br><br>  
      </p>
      <img class="MindreBild" src="/maxresdefault.jpg" id="20talet"/>
      <p>
        <h2>
          2002 Amerikanska flottan skapar TOR – och nätet blir lite mera hemligt
        </h2>  

        <h3>
          Att vara anonym på nätet ses länge som en självklarhet. Men när spåren på nätet blir för många utvecklas ett system att fortsätta 
          vara hemlig.<br> Och det är amerikanska armén som ligger bakom.
        </h3>
          
          20 september 2002 släpps programmet Tor (The Onion Router), som är ett krypteringsnätverk med flera lager av kryptering och 
          anonymisering (därför lök-liknelsen).<br> Med hjälp av detta kan den som surfar göra det utan att lämna fotspår. Det skapas amerikanska 
          flottan och sponsras av bland annat av svenska biståndsorganet Sida, som ett demokratiseringsverktyg.<br><br>
          
          Lite senare samma höst myntas begreppet darknet av en grupp forskare knutna till Microsoft.<br><br>
          
          Ordet ”deepweb” används ofta i sammanhanget, och det behandlar den del av nätet som inte är synlig från internets sökmotorer, så som 
          lösenordsskyddade sajter eller innehåll bakom betalväggar.<br> Innehållet i darknet nås bara med hjälp av programvaror som Tor.<br><br>
          
          Tekniken blir populär, både av vanligt folk och bland dem med ont uppsåt. Droghandlare, pedofiler och terrorister kan här kommunicera 
          med kraftigt minskad risk att bli upptäckta. <br>Men det fungerar även som en möjlighet för människor i länder där internet är kraftigt 
          reducerat att nå ut.<br><br>
          
          I samband med valet 2006 lanseras den svenska tjänsten Relakks av Piratpartiet ihop med it-entreprenören Jonas Birgersson. Här får 
          internetanvändaren en anonym ip-adress som inte går att spåra.<br><br><br><br>
      </p>
      <img src="/Snapchat-e1423643796517.png" id="10talet"/>
      <p>
        <h2>
          2011 Med Snapchat skickar vi bilder som kan försvinna – och vi lär oss att ”snapa”
        </h2> 
        <h3>
          Snapchat lanseras 2011 och är en meddelande-app för smarta mobiler. Snapchat gör det möjligt för användarna att skicka<br> bilder och 
          videor – kallade för ”snaps” – till andra användare utan att de kan sparas.
        </h3>
          
          Användaren väljer själv hur många sekunder bilden ska visas för mottagaren. Sedan försvinner bilden upp i tomma intet, Snapchat 
          sparar den inte. Om bilden inte visas sparas den i trettio dagar.<br><br>
          
          Snapchat är särskilt populär bland unga och blir snabbt ett verb i form av att ”snapa”.<br><br>
          
          Precis som Facebook har Snapchat skakats av en fejd. Tjänsten skapas av studiekompisarna Frank Brown, Evan Spiegel och Bobby Murphy.
          Den senare utesluts ur företaget en tid senare,<br> men kräver sin rätt både till pengar och ära. Efter en uppgörelse med Snapchat räknas
          han numera officiellt som en av grundarna.<br><br>
          
          Företaget har nobbat uppköpsförsök från både Facebook och Google och värderas i början av 2016 till 17 miljarder dollar.<br><br>
      </p>
  </body>
  <script src="js/script.js"></script>
</html>