<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/ViktigaHändelser.html">Viktiga händelser</a>
        </li>
        <li>
          <a href="/view/HemsidorsUtveckling.html">Hur hemsidor har utvecklats</a>
        </li>
        <li>
          <a href="/view/GrundläggandePrinciper.html">Internets grundläggande principer</a>
        </li>
        <li>
          <a href="/view/WebbPublicering.html">Webbpubliceringssystem</a>
        </li>
      </ul> 
      <img src="/arpanet2.png"/>
      <p>
        Här börjar allt. Leonard Kleinrock, till höger, är en av Arpanets viktigaste personer. <br/> <br/>
        <h2>
          1969 Starten på internet heter Arpanet <br/> <br/> 
        </h2>
        <h3>
          29 oktober 1969 skickas det första meddelandet på det som i dag är internet.<br/>
        </h3>
        Vid den tiden heter nätverket Arpanet, och drivs av det amerikanska försvaret. I september 1969 länkas Arpanets första dator med en sprillans ny, specialbyggd maskin, en IMP – Interface Message Processor (som ni ser på bilden här ovanför). Och några veckor senare, 29 oktober klockan halv elva på kvällen skickar forskargruppen på UCLA, ledd av professor Leonard Kleinrock, iväg ett meddelande till en dator på Stanford drygt 50 mil därifrån. Det innehåller endast bokstäverna L och O (forskarna hade tänkt skriva LOGIN men servern kraschade). <br/> <br/>
        Arpanet är ett av många nätverk som utvecklas under 60-talet i både USA, England och Frankrike.<br/> <img src="/Arpanet3.png"/> <br/>
        Illustration av Jesper Wallerborg.<br/><br/>
        <h3>
          Paketutbyte, TCP/IP och tidsdelning <br/>
        </h3>
        På den amerikanska forskningsmyndigheten ARPA (Advanced Research Projects Agency) jobbar datorforskaren Joseph Licklider. Han är den som kläcker idén till det som blir internet, men det finns många andra på myndigheten som gör betydande insatser för att förverkliga planerna. Leonard Kleinrock uppfinner kommunikationstekniken ”paketutbyte” (packet switching), Vinton Cerf and Robert Kahn kommer på TCP/IP-protokollet (som fortfarande utgör grunden för det internet vi har i dag)<br/> <br/> 
        En annan viktig upptäckt är tidsdelningssystemen (time-sharing), som innebär att flera personer kan använda samma dator. Det är ju egentligen det man gör på internet, delar datorer med varandra.<br/> <br/>
        <h2>
          E-posten skapas <br/>
        </h2>
        1971 skickas det första e-postmeddelandet på Arpanet – från en dator till en annan som står precis bredvid. Fler och fler datorer på amerikanska forskningsanstalter och laboratorium kopplas sedan upp, nätet växer och 1973 är det hela fyrtio datorer uppkopplade. <br/> <br/>
        <h2>
          Nätverket blir internationellt<br/>
        </h2>
        Samma år kopplas den första utländska datorn upp mot Arpanet utanför USA. Den är norsk och kopplas upp via satellit. Men om vi ska vara lite petiga går faktiskt den första internetkontakten via markstationen i Tanum i Bohuslän, som tar emot signalerna och skickar dem vidare till Norge. Först då blir internet internationellt.
        
      </p> 
  </body>
  <script src="js/script.js"></script>
</html>