<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body class = "BildWebbPublicering"></body>
  <body>
    <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/ViktigaHändelser.html">Viktiga händelser</a>
        </li>
        <li>
          <a href="/view/HemsidorsUtveckling.html">Hur hemsidor har utvecklats</a>
        </li>
        <li>
          <a href="/view/GrundläggandePrinciper.html">Internets grundläggande principer</a>
        </li>
        <li>
          <a href="/view/WebbPublicering.html">Webbpubliceringssystem</a>
        </li>
      </ul> 

      <p>
          <h2>
          <br> Mambo (innehållshanteringssystem)
          </h2>
          <h3>
              Mambo är ett innehållshanteringssystemen för att skapa och administrera webbplatser genom ett enkelt webbgränssnitt.<br>
               Mambo är skrivet i PHP och släppt som fri programvara under GNU General Public License.<br><br>

              Hösten 2005 grenades Mambo av till Joomla efter oenighet om äganderätt, projektledning och mål, men även pengar handlade det om.<br>
               Mambo står just nu ganska ensamma utan tredjepartsutvecklare eftersom flertalet har gått över till Joomla.<br> Det finns mängder med 
               Mambo-installationer och dessutom en väl utvecklad support så framtiden får utvisa om Mambo kommer att resa sig eller inte.<br>
                Trots flykten av utvecklare så har Mambo kommit ut med en ny version.
          </h3>
          <br><br>
          <h2>
              Drupal
          </h2>
          <h3>
              Drupal är ett blogg- och innehållshanteringssystem skrivet i PHP.<br> Drupal distribueras som fri programvara med öppen källkod 
              under licensen GNU General Public License,<br> vilket innebär att det kan laddas ner och användas kostnadsfritt. 
              Drupal är modulärt uppbyggt, vilket ökar flexibiliteten i systemet.<br> Särskilt bra stöd och funktioner finns för så kallade 
              'communities'.

              Drupal används idag både av ett stort antal privatpersoner samt små<br> och stora organisationer och företag, som exempelvis Vita 
              husets officiella hemsida,<br> NASA, NATO, SSRS - Sjöräddningssällskapet, Svenska Lottakåren och IBM.
          </h3>
          <img src="/Drupal_7_Screenshot_Swedish.png" alt="">
          <h2>
              Distribution och installation
          </h2>
          <h3>
              Drupal kan köras i många operativsystemsmiljöer, till exempel Linux, Mac OS X, Windows eller andra plattformar med stöd för 
              antingen webbservern Apache (version 1.3+) eller IIS (version IIS5+) samt programmeringsspråket PHP 4.4.2 eller senare. 
              Drupal behöver en databas för att lagra innehåll och inställningar, därför behövs också tillgång till en databasserver, 
              till exempel MySQL (4.1+) eller PostgreSQL (7.4+). Drupal 7 kräver MySQL 5.0.15 eller senare, PostgreSQL 8.3 eller senare 
              eller SQLite 3.x. Version 5.2 eller senare av PHP rekommenderas. Om PHP 5.2 används måste systemet använda Drupal 5.1 eller senare.
              Drupal 7 kräver PHP 5.2.4 eller senare.
              På plattformen Microsoft Windows kan Drupal installeras med hjälp av Microsoft Web Platform Installer. 
              Web PI kommer automatiskt att upptäcka eventuella saknade beroenden som exempelvis PHP eller MySQL och installera och 
              konfigurera dessa innan Drupal installeras.
          </h3>
          <h2>
           <br><br> Innehållshanteringssystem
          </h2>
          <h3>
            Innehållshanteringssystem (Från engelskans Content Management System, CMS) är ett informationssystem för att hantera och publicera 
            olika typer av informationsinnehåll, det vill säga elektroniska media. Begreppet används ofta synonymt med Webbpubliceringssystem 
            (Web Content Management System, WCMS), men är ett vidare begrepp än så och innefattar även:          
             <br><br>Enterprise Content Management system (ECM)<br>
             dokumenthanteringssystem, DMS.
          </h3>
      </p>
  </body>
  <script src="js/script.js"></script>
</html>